node_modules
vendor
.git
.env
.env.local
.env.*.local
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
public/build
public/hot
tests
.rtk
.claude
.github
docker-compose.client.yml
*.md
